@{
    var companyName = "InnovaTrack";
    var companyWeb = "InnovaTrack";
    var year = DateTime.Now.Year;
}
<footer class="main-footer">
    
    <small id="footerContent">
        &copy; @year <a>InnovaTrack</a>, All Right Reserved.
    </small>
</footer>

