name: CI-CD

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./Indotalent.sln

      - name: Build
        run: dotnet build ./Indotalent.sln -c Release --no-restore

      - name: Test
        run: dotnet test -c Release || echo "No tests found"

  cd:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to your Laptop (CI/CD)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd "C:/Users/ocervantes/OneDrive - Cannon Security Products/Desktop/WMS/InnovaTrack"
            git pull
            dotnet build Indotalent.sln -c Release

            echo "Killing existing process..."
            taskkill /IM "InnovaTrack.exe" /F || echo "nothing to kill"

            echo "Starting new version..."
            start "" "C:\Users\ocervantes\OneDrive - Cannon Security Products\Desktop\WMS\InnovaTrack\Presentation\bin\Release\net8.0\InnovaTrack.exe"
